@import url("https://fonts.googleapis.com/css?family=Federo");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* formatting accross pages */
body{
    margin: 0 auto;
    background-color: #171219;
    /* box-sizing: border-box; */
    /* background-color: rgb(88, 30, 105); */
    /* background-image: linear-gradient(to right ,rgb(88, 30, 105), black); */
}

.wrapper {
    margin: 0 auto;
    max-width: 80%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

/* Navigation */
.navbar li{
    list-style: none;
    /* display: inline-block; */
    width: 15%;
    text-align: center;
}

.navbar ul{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.navbar {
    /* background-color: rgba(218, 202, 218, 0.3); */
    background-color: #820263;
    text-align: center;
    position: fixed;
    top:0;
    min-width: 100%;
    border-bottom: 3px solid white;
    z-index: 1;
}
a.navItem {
    padding: 5px 20px;;
    text-decoration: none;
    color: white;
    font-family: Federo; 
}

.navItem:hover {
    /* border: 1px solid white; */
    letter-spacing: 8px; 
    transition: 0.5s ease;
}

.navItem:active {
    font-weight: bold;
    color: black;
}

/* responsive nav menu */
.navbar .icon {
    display: none;
    color: white;
    padding: 8.5px;
    background-color:#820263;
}



@media screen and (max-width: 800px) {
    .navbar li {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive ul {
        display: block; 
        margin: 0; 
        padding : 0;
    }

    .navbar.responsive a.icon {
      position: absolute;
      top: 0;
      right: 0;
    }

    .navbar.responsive ul li {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
      padding: 8px;
    }

    .navbar.responsive ul li:hover {
       background-color:rgba(23, 18, 25, 0.3);
       letter-spacing: 8px; 
        transition: 0.5s ease;
    }

    .section div p, .section div .content {
        display: block;
        width: 100%;
    }

    .section div h1 {
        transform: none;
        display: block;
        -webkit-transform: none;
        -ff-transform: none;
        width: 100%;
        position: static;
    }

}


/* section styling */
p {
    color: white;
}

.section {
    padding: 5%;
    margin: 8% 0;
    background-image: linear-gradient(to bottom ,#FB8B24, #820263, #171219, #171219);
    border-radius: 5px;
    min-height: 100vh;
}



.section p, .content{
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

.section h1 {
    -webkit-transform: rotate(-90deg);
    -ff-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    width: 5%;
    /* vertical-align: center; */
    font-size: 210%;
    position: relative;
    top: 30px;
    right: 2%;
    /* transition: .5s ease; */
    /* letter-spacing: 1px; */
    color: white; 
    letter-spacing: 8px;
    font-family: Federo; 
    /* font-size: 24px;  */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
}

/* header section formatting */

#mainTitle {
    position: relative;
    top: 50px;
    padding: 5% 0;
    min-height: 100vh;
}

#mainTitle h1{
    font-size: 75px;
    margin: 10px 0;
    font-family: Federo; 
    font-weight: 700; 
    font-style: normal; 
    font-variant: normal;
    color: white;
}

#mainTitle h2 {
    color: white;
    opacity: 0.5;
    font-size: 35px;
    font-family: Federo;
    letter-spacing: 5px; 
    word-spacing: 7px;
    margin: 0;
}

#mainTitle #oneLineBio{
    font-size: 20px;
    max-width: 30%;
}

/* footer */

footer {
    font-family: Federo;
    font-size: 12px;
    letter-spacing: 5px; 
    word-spacing: 7px;
    text-align: center;
}

button{
    padding: 1.5%;
    background: none;
    color: white;
    font-family: Federo;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 2px; 
    word-spacing: 4px;
    text-align: center;
    margin: 3% 0;
    border:  2px solid white;
}

button.purple {
    background-color: #820263;
    border: 2px solid rgb(255, 255, 255, 0)
}

button:hover {
    border: 2px solid white;
    letter-spacing: 4px; 
    transition: 0.75s ease;
}

/* form styling */
form input {
    margin-bottom: 20px;
}

form, input, textarea {
    max-width: 100%;
}