@import url("https://fonts.googleapis.com/css?family=Federo");
@import url("https://fonts.googleapis.com/css?family=Jura");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/* formatting accross pages */
body{
    margin: 0 auto;
    background-color:rgb(92, 69, 103, 0.1);
    font-family: Jura;
    /* box-sizing: border-box; */
    /* background-color: rgb(88, 30, 105); */
    /* background-image: linear-gradient(to right ,rgb(88, 30, 105), black); */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}


.wrapper {
    margin: 0 auto;
    max-width: 90%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

/* Navigation */
.navbar li{
    list-style: none;
    /* display: inline-block; */
    width: 15%;
    text-align: center;
}

.navbar ul{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.navbar {
    /* background-color: rgba(218, 202, 218, 0.3); */
    background-color: #4B2187;
    text-align: center;
    position: fixed;
    top:0;
    min-width: 100%;
    border-bottom: 3px solid white;
    z-index: 10;
    box-shadow: 0 0 4px 0 #888888;
}
a.navItem {
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-family: Federo; 
}

.navItem:hover {
    /* border: 1px solid white; */
    letter-spacing: 8px; 
    transition: 0.5s ease;
}

.navItem:active {
    font-weight: bold;
    color: black;
}

/* responsive nav menu */
.navbar .icon {
    display: none;
    color: white;
    padding: 8.5px;
    background-color:#4B2187;
}



@media screen and (max-width: 800px) {
    .navbar li:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
        top: 0;
        z-index: 10;
    }

    /* #mainNavbar.navbar.responsive{
        position: sticky;
    } */

    .navbar.responsive ul {
        position: sticky;
        display: block; 
        margin: 0; 
        padding : 0;
    }

    .navbar.responsive a.icon {
      position: relative;
      top: 0;
      right: 0;
    }

    .navbar.responsive ul li {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
      padding: 8px;
      position: sticky;
    }

    .navbar.responsive ul li a.navItem {
        width: 100%;
        display: block;
    }

    .navbar.responsive ul li:hover {
       background-color:rgba(23, 18, 25, 0.3);
       letter-spacing: 8px; 
        transition: 0.5s ease;
    }

    /* .section div p, .section div .content {
        display: block;
        width: 100%;
    }

    .section div h1 {
        transform: none;
        display: block;
        -webkit-transform: none;
        -ff-transform: none;
        width: 100%;
        position: static;
        text-align: left;

    }

    .section div.newSec{
       padding: 0 5%;
       margin-top: 1%;
       border-image: linear-gradient(120deg, #4B2187, #988CB7, #4B2187)3;
    } */

}

/* header section formatting */
#mainTitle {
    position: relative;
    top: 50px;
    padding: 5% 0;
    min-height: 100vh;
}

#mainTitle h1{
    font-size: 75px;
    margin: 10px 0;
    font-family: Federo; 
    font-weight: 700; 
    font-style: normal; 
    font-variant: normal;
    color:  #4B2187;
}

#mainTitle h2 {
    color:#988CB7;
    opacity: 0.5;
    font-size: 35px;
    font-family: Federo;
    letter-spacing: 5px; 
    word-spacing: 7px;
    margin: 0;
}

#oneLineBio{
    font-size: 20px;
    width: 30%;
}

/* section styling */
h2 {
    color: #988CB7; 
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Federo; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    display: inline-block;
    margin: 0;
    margin-right: 1%; 
    padding-bottom: 15px;
}

div.projectTitle a {
    display: inline-block; 
    padding: 0 3%;
    height: 35px;
    opacity: 0.3;
    vertical-align: top;
}
div.projectTitle a:hover{
    opacity: 1;
}

/* div.projectTitle {
    vertical-align: top;
} */

.section {
    /* margin-top: 300px; */
    /* background-image: linear-gradient(to bottom, #820263, #171219, #171219); */
    /* border-radius: 5px; */
    padding: 2% 0 ;
    /* min-height: 100vh; */
    /* border-width: 10px;
    border-style: solid; */
    /* border-image: linear-gradient(140deg, #820263, #171219, #171219, #820263)3; */
  
}

.section div.newSec{
    margin: 100px 0;
    padding: 40px 0;
    padding-right: 0%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(140deg, #4B2187, rgb(92, 69, 103, 0.01), rgb(92, 69, 103, 0), rgb(92, 69, 103, 0), #4B2187)3;
    /* height: 70vh; */
    min-height: 100vh;
}

.main{
    display: inline-block;
    width: 80%;
    margin-top: 10px;
}

.section h1 {
    -webkit-transform: rotate(-90deg);
    -ff-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    height: 50px;
    width:180px;
    /* height: 200px; */
    font-size: 210%;
    position: relative;
    top: 45px;
    left: 10px;
    vertical-align: top;
    /* transition: .5s ease; */
    /* letter-spacing: 1px; */
    color: #988CB7; 
    letter-spacing: 8px;
    font-family: Federo; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    text-align: right;
    margin: 0;
}
/* about section */
#aboutTech {
    text-align: center;
}

#bio {
    display: inline-block;
    width: 60%;
    padding-right: 2%;
}

#porfolioPhoto{
    vertical-align: top;
    display: inline-block;
    width: 28%;
}

/* responsive view for about section */
@media screen and (max-width: 1045px){
    div.main {
        width: 70%;
        /* height: 100px; */
        position: relative;
        /* color: white; */
        font-weight: bold;
    }
    .projectContent, .projectLink{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .projectImg {
        opacity: 0.2;
        width: 100%;
        margin: 0 auto;
        margin-top: 38px;
    }
    .projectContent{
    z-index: 1;
    }
}

/* project section */
.projectContent {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.projectContent ul {
    padding: 15px;
    background-color:rgb(152, 140, 183, 0.5);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.projectImg {
    display: inline-block;
    vertical-align: top;
    width: 58%;
}

ol {
    list-style: square;
    padding-left: 20px;
}

ol li{
    padding: 2px 0;
    font-size: 14px;
}

.functionalities {
    padding: 2px 0;
    list-style: none;
    padding-left: -20px;
}

div.projectContent li.techLogos{
    text-align: center;
    display: table;
    width: 100%;
}

li.techLogos img {
    vertical-align: middle;
    padding: 2%;
}

.projectComponent {
    min-height: 430px;
    margin: 20px 0;
}

.italicize{
    font-style: italic;
    font-size: 12px;
}

/* hover-over site screenshot effects */
.projectLink {
    position: relative;
}
.projectImg {
    transition: .5s ease;
    backface-visibility: hidden;
}
a.projectLink:hover .projectImg{
    opacity: 0.3;
}

.clickLink {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
}

a.projectLink:hover .clickLink{
    opacity: 1;
}

.projectMargin {
    margin-left: 180px;
}
/* responsive view for project section */
@media screen and (max-width: 1100px){
    div.main {
        width: 70%;
        /* height: 100px; */
        position: relative;
        /* color: white; */
        font-weight: bold;
    }
    .projectContent, .projectLink{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .projectImg {
        opacity: 0.2;
        width: 100%;
        margin: 0 auto;
        margin-top: 38px;
    }
    .projectContent{
    z-index: 1;
    }

    .projectContent ul {
        padding: 28px;
        border-radius: 0;
    }

    .section div.newSec {
        padding-bottom: 1%;
        display: block;
        overflow: auto;
    }
}

@media screen and (max-width: 800px){
    .section div p, .section div .content {
        display: block;
        width: 100%;
    }
    .projectImg {
        margin-top: 65px;
    }

    .section div h1 {
        transform: none;
        display: block;
        -webkit-transform: none;
        -ff-transform: none;
        width: 100%;
        position: static;
        text-align: left;
        padding-top: 1%;

    }
    .section div.newSec{
       padding: 5%;
       margin-top: 10% ;
       /* text-align: center; */
    }
    #mainTitle p#oneLineBio{
        width: 90%;
        display: block;
        margin-right: 0;
    }
    div.main {
        width: 100%;
    }
    div.projectTitle {
        height: 65px;
        text-align: center;
    }
    div.projectTitle h2 {
        display: block;
    }
    .projectMargin {
        margin-left: 0;
    }
}

/* Career section */

/* contact section */
#contactInfo {
    display: inline-block;
    width: 30%;
    background-color:rgb(152, 140, 183, 0.5);
    vertical-align: top;
    margin-left: 1%;
    padding: 1%;
}

#contactForm {
    display: inline-block;
    width: 60%;
    margin:0;
}


footer {
    font-family: Federo;
    font-size: 12px;
    letter-spacing: 5px; 
    word-spacing: 7px;
    text-align: center;
    margin-top: 2%;
}

button, .linkText{
    padding: 15px;;
    background: #4B2187;
    color: white;
    font-family: Federo;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 2px; 
    word-spacing: 4px;
    text-align: center;
    margin: 3% 0;
    border:  2px solid #4B2187;
}

button #chatLink {
    /* background-color: #4B2187; */
    /* border: 2px solid rgb(255, 255, 255, 0) */
    color: white;
    text-decoration: none;
}

button:hover {
    border: 2px solid #988CB7;
    letter-spacing: 4px; 
    transition: 0.75s ease;
}

/* form styling */
form input {
    margin-bottom: 20px;
}

form, input, textarea {
    max-width: 100%;
}